@{
    ViewData["Title"] = "F4";
}
<h1>@ViewData["Title"]</h1>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>IT114P Module1</title>    
    </head>
    <body>
        <div class="row">
            <div class="col-sm-4" style="background-color: red;">
                <center style="line-height: 192px;">Meteor</center>
            </div>
            <div class="col-sm-8" style="background-color: blue;">
                <center style="line-height: 192px;">Garden</center>
            </div>
            <div class="col-sm-12" style="background-color:blueviolet">
                <center><img src="/Img/f4.jpg" height="200"></center>
            </div>
            <div class="col-sm-12" style="background-color: aliceblue;">
                <center style="line-height: 192px;">Dao Ming Si, Xi Me, Mei Zuo, Hua Ze Lei</center>
            </div>
        </div>
    </body>
</html>